.carousel-control-prev , .carousel-control-next
{
  width: 150px;
}

.foto
{
  height: 100%;
  display: flex;
}

.swiper-container
{
  width: 100%;
  height: 700px;
  top: 10%;
  margin-top: auto;
  margin-bottom: auto;
}

.swiper-slide
{
  width: 270px;
  height: 405px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.swiper-slide img
{
  -webkit-box-reflect: below -1px linear-gradient(transparent, transparent, transparent, transparent, #000);
}

.slide3
{
  height: 100%;
  width: 100%;
}

.css-typing
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 14px;
  text-align: center;
  color: #fff;
  text-shadow: 0px 0px 5px #000;
  transition: all 5s ease, color 1s ease;
}

.css-typing p {
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 26px;
  margin: 0 auto;
}

/* Animation */
.css-typing p:nth-child(1)
{
  animation: animated-text 4s steps(100,end) 1s 1 normal both;
}

.css-typing p:nth-child(2)
{
  animation: animated-text 5s steps(100,end) 1s 1 normal both;
  animation-delay: 5s;
}

.css-typing p:nth-child(3)
{
  animation: animated-text 5s steps(100,end) 1s 1 normal both;
  animation-delay: 10s;
}

.css-typing p:nth-child(4)
{
  animation: animated-text 5s steps(100,end) 1s 1 normal both;
  animation-delay: 15s;
}

.css-typing p:nth-child(5)
{
  animation: animated-text 5s steps(100,end) 1s 1 normal both;
  animation-delay: 20s;
}

.css-typing p:nth-child(6)
{
  animation: animated-text 5s steps(100,end) 1s 1 normal both;
  animation-delay: 25s;
}

.css-typing p:nth-child(7)
{
  animation: animated-text 5s steps(100,end) 1s 1 normal both;
  animation-delay: 30s;
}

/* text animation */

@keyframes animated-text
{
  
  from
  {
    width: 0;
  }
  
  to
  {
    width: 900px;
  }
}

@media only screen and (max-width: 1300px), screen and (max-height: 900px)
{
  .css-typing p
  {
    transition: all 1s ease;
  }
}

@media only screen and (max-width: 1300px), screen and (max-height: 900px)
{
  .css-typing p
  {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1100px), screen and (max-height: 800px)
{
  .css-typing p
  {
    font-size: 22px;
  }
}

@media only screen and (max-width: 900px), screen and (max-height: 700px)
{
  .css-typing p
  {
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px), screen and (max-height: 600px)
{
  .css-typing p
  {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px)
{
  .css-typing p
  {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px)
{
  .css-typing p
  {
    font-size: 10px;
  }
}

@media only screen and (max-width: 300px)
{
  .css-typing p
  {
    font-size: 8px;
  }
}